// Custom styles
// 添加背景图片/images/background.jpg
body {
  background: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

// 修改主体透明度
.main-inner{
  background: #fff;
  opacity: 0.85;
}

// 修改菜单栏透明度
.header-inner{
  background: rgba(255, 255, 255, 0.85) !important;
}
